/* ширина контента 1256рх */
body {
padding: 0px;
/* max-width: 1440px; */
/* margin: auto; */
box-sizing:border-box;
margin: 0px;
font-family: 'Nunito Sans';
text-decoration: none;
background-size: 100% auto;
}
body * {
    box-sizing:border-box;
}

.container {
    max-width: 1250px;
    margin: auto;
}


.header {

background-color: black;
/* max-width: 1250px; */

}
.header-content {
    display:flex;
    height: 83px;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1250px; */
}

.header_nav {
    padding-left: 0px;
list-style: none;
display:flex;
margin-top: 24px;
margin-bottom: 22px;
}
/* .heads {
display: flex;
justify-content: space-between;

} */
.spisok {
display: inline;
margin-right: 47px;
list-style-type: none; /* Убираем маркеры */
text-transform: uppercase; 
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
}
.ss { 
color: white;
} 
.cvet {
color: #E3B873;
}   
.vesn {
    font-family: 'Yeseva One';
}
.button {
display: flex;
align-items: center;
width: 161px;
height: 37px; 
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0px;
border: 0px;
padding: 13px 33px;
margin-top: 33px;
margin-bottom: 36px;
/* margin-right: 90px; */
}
.tel {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-decoration-line: underline;
color: #E3B873;
display: flex;
align-items: center;
padding: 13px 33px;
margin-top: 37px;
margin-bottom: 36px;
}
.logo {
/* display: flex; */
font-family: 'Nunito Sans';
outline: 0px;
border: 0px;
margin-top: 37px;
margin-bottom: 30px;
/* margin-left: 92px; */
margin-right: 71px;
align-items: center;
text-transform: uppercase; 
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
color: #E3B873;
}
.sectionone .container {
margin-top: px;
   background-image:  linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/fonsectionone.jpg);
max-width: 1440px; 
background-size: cover;
height: 707px;
}
.conntainer-section-onne {
    /* display: flex; */
    padding-top: 194px;
   padding-right: 629px;
   padding-bottom: 208px;
   padding-left: 134px;
/* width: 676.11px;
height: 305px;
margin: 194px 629.89px 208px 134px;
/* left: 135px;
top: 277px;  */ */
}
 /* .conntainer-section-one-h1 {
/* margin: 0px;
line-height: 25px; 

} */
 .hm {
margin: 0px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 35px;}

.conntainer-section-onetext {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
margin-bottom: 35px;
color: #FFFFFF;
}
.butttoncalc {
    color:#FFFFFF;
    width: 207px;
    height: 51px; 
background: #E3B873;
box-shadow: 0px 5px 15px
  rgba(227, 184, 115, 0.3);
border-color: #E3B873;
border-radius: 2px;
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
padding: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 21px;
}
.buttonappl{
box-sizing: border-box;
border: 1px solid #FFFFFF;
border-radius: 2px;
position: absolute;
border: 1px solid #FFFFFF;
border-radius: 2px;
color: #FFFFFF;
width: 207px;
height: 51px;
background: none;
border-color: white;
border-radius: 2px;
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
padding: 0px;
}



.sectiontwo {
    max-width: 1440px;
    height: 1074px;
    background:black; 
    background-size:cover;
}

.containersec2 {
    
    margin: 0px 120px 419.72px 149px;
    padding-top: 102px;
}

.secttwo {

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0px;
    margin-right: 52px;
    margin-bottom: 45.36px;
    margin-left: 492px;

}


ul.sppad {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    width: 623px;
    height: 24px;
    
}
.spiisok .cvf .bled {
    display: inline;
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);
}
.bled {
    display: inline;
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
text-decoration: none;

color: rgba(255, 255, 255, 0.3);
}

.sectexxt {
    width: 442px;
    height: 390px;
    padding: 0;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 79.64px;
    margin-left: 0px;
    color:white;
}
.textifot {
    display: flex;
    border-color:black;
    /* column-gap: 50px; */

}
.fotosec2st {

    width: 679px;
    height: 482.38px;
    margin: 0px;
    flex-shrink: 0;
    
}
.exmpl {
    width: 678px;
    height: 480px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fotosec2st {
    object-fit: cover;
    min-width: 109%;
    min-height: 101%;
    flex-shrink: 0;
   
}

#c2vet {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
list-style-type: none; 
text-transform: uppercase;
text-decoration-line:underline;

color: #E3B873;

}
.spiisok.cvf {
    display: inline;
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);
}

.zag {
    width: 253px;
    height: 66px;
    margin: 0px 189px 34px 0px;
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;

color: #E3B873;
}

.podzag01 {
    width: 442px;
    height: 86px;
    margin: 0px 0px 34px 0px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;

color: #FFFFFF;
}
.podzagol {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;

color: #E3B873;
}
.sblok-2-t {
display: flex;
}
.podzagol.city {
    margin: 0px 143px 9px 0px;
}
.rost {
    width: 161px;
    height: 52px;
    margin: 0px 29px 34px 0px;
}
.sblok-3-t, .sblok-5-t {
    display: flex;
    margin: 0px 29px 34px 0px;

}

.podzagol.time {
    width: 156px;
    height: 22px;
    margin: 0px 34px 9px 0px;
}
.month {
    width: 103px;
    height: 24px;
    margin: 0px 87px 9px 0px;
 }
.sec3tion {
    max-width: 1440px;
    background-size:cover;

}