/* ширина контента 1256рх */
body {
width: 1440px; 
margin: 0px;
font-family: 'Nunito Sans';

}
.head1 {
display:flex;
background-color: black;
padding: 0px;
align-items: center;
width: 1438px;
height: 83px;
}
.header_nav {
list-style: none;
display:flex;
margin-top: 24px;
margin-bottom: 22px;
}
.heads {
display: flex;
justify-content: space-between;
}
.spisok {
display: inline;
margin-right: 47px;
list-style-type: none; /* Убираем маркеры */
text-transform: uppercase; 
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
}
.ss { 
text-decoration: none; /* Отменяем подчеркивание у ссылки */
color: white;
} 
#cvet {
color: #E3B873;
}   
.button {
display: flex;
align-items: center;
width: 161px;
height: 37px; 
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0px;
border: 0px;
padding: 13px 33px;
margin-top: 37px;
margin-bottom: 36px;
margin-right: 90px;
}
.tel {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-decoration-line: underline;
color: #E3B873;
display: flex;
align-items: center;
padding: 13px 33px;
margin-top: 37px;
margin-bottom: 36px;
}
.logo {
display: flex;
font-family: 'Nunito Sans';
outline: 0px;
border: 0px;
padding: 13px 33px;
margin-top: 37px;
margin-bottom: 36px;
margin-left: 92px;
align-items: center;
text-transform: uppercase; 
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
color: #E3B873;
}
section.sectionone {
   background-image: url(../img/fonsectionone.jpg);
background-size: cover;
height: 707px;
}
.container-section-one-h1 {
    margin: 0px;
}
.hm {
    margin: 0px;
}