/* ширина контента 1256рх */
body {
padding: 0px;
width: 1440px;
margin: 0px;
font-family: 'Nunito Sans';

}
.head1 {
display:flex;
background-color: black;
padding: 0px;
align-items: center;
/* width: 1440px; */
height: 83px;
}
.header_nav {
    padding-left: 0px;
list-style: none;
display:flex;
margin-top: 24px;
margin-bottom: 22px;
}
.heads {
display: flex;
justify-content: space-between;
}
.spisok {
display: inline;
margin-right: 47px;
list-style-type: none; /* Убираем маркеры */
text-transform: uppercase; 
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
}
.ss { 
text-decoration: none; /* Отменяем подчеркивание у ссылки */
color: white;
} 
#cvet {
color: #E3B873;
}   
.button {
display: flex;
align-items: center;
width: 161px;
height: 37px; 
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0px;
border: 0px;
padding: 13px 33px;
margin-top: 37px;
margin-bottom: 36px;
margin-right: 90px;
}
.tel {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-decoration-line: underline;
color: #E3B873;
display: flex;
align-items: center;
padding: 13px 33px;
margin-top: 37px;
margin-bottom: 36px;
}
.logo {
display: flex;
font-family: 'Nunito Sans';
outline: 0px;
border: 0px;
/* padding: 13px 33px; */
margin-top: 37px;
margin-bottom: 36px;
margin-left: 92px;
margin-right: 95.47px;
align-items: center;
text-transform: uppercase; 
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
color: #E3B873;
}
section.sectionone {

   background-image:  linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/fonsectionone.jpg);
 
background-size: cover;
height: 707px;
}
.container-section-onne {
    /* display: flex; */
    padding-top: 194px;
   padding-right: 629px;
   padding-bottom: 208px;
   padding-left: 134px;
width: 676.11px;
height: 305px;
left: 135px;
top: 277px;
}
.container-section-one-h1 {
margin: 0px;
line-height: 25px;

}
.hm {
margin: 0px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 35px;
}
.container-section-onetext {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
margin-bottom: 35px;
color: #FFFFFF;
}
.butttoncalc {
    color:#FFFFFF;
    width: 207px;
    height: 51px; 
background: #E3B873;
box-shadow: 0px 5px 15px
  rgba(227, 184, 115, 0.3);
border-color: #E3B873;
border-radius: 2px;
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
padding: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 21px;
}
.buttonappl{
box-sizing: border-box;
border: 1px solid #FFFFFF;
border-radius: 2px;
position: absolute;
/* left: 24.72%;
right: 60.9%;
top: 7.07%;
bottom: 92.25%; */

border: 1px solid #FFFFFF;
border-radius: 2px;
color: #FFFFFF;
width: 207px;
height: 51px;
background: none;
/* box-shadow: 0px 5px 15px rgb(227 184 115 / 30%); */
border-color: white;
border-radius: 2px;
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
padding: 0px;
}



section.sectiontwo {
    width: 1440px;
    height: 1074px;
}

.containersec2 {

    margin: 102px 120px 419.72px 149px;
}

.secttwo {

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0px;
    margin-right: 52px;
    margin-bottom: 45.36px;
    margin-left: 492px;

}

.sppad {
    padding: 0px;
}
.sectexxt {
    width: 442px;
    height: 390px;
    padding: 0;
    margin-top: 69.36px;
    margin-right: 50px;
    margin-bottom: 79.64px;
    margin-left: 0px;
}
.textifot {
    display: flex;
    /* column-gap: 50px; */

}
.fotosec2st {

    width: 679px;
    height: 482.38px;
    margin: 0px;
    flex-shrink: 0;
    
}



.exmpl {
    width: 679px;
    height: 482.38px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fotosec2st {
    min-width: 109%;
    min-height: 100%;
    flex-shrink: 0;}





#c2vet {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;

color: #E3B873;

}